body {
    background-color: rgb(67, 67, 189);
    color: white;
}

h1{
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}